body {
  font-family: Arial, sans-serif;
}

#paintCanvas {
  cursor: none;
}

#pointerCircle {
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.05s, height 0.05s;
}
